.navbar {
  padding-left: 1%;
}

.navbar-brand-logo {
  margin-right: 10px;
  height: 30px;
}

h1.title {
  margin-left: 5px;
}

.instance-box, #no-instance {
  border-bottom: 2px solid lightgray;
  margin-left: 5px;
  margin-right: 5px;
}

#logout-button {
  color: black;
  text-decoration: none;
}

.icon {
  height: 20px;
}

.error {
  color:red;
}

#navbarDropdownMenuLink {
  display:none;
}

#welcome {
  display: flex;
  width: 100vw;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.navbar-toggler {
  display: block !important;
}

span.btn-wrapper.disabled, button.btn[disabled] {
  cursor: not-allowed !important;
  opacity: 1;
}

span.btn-wrapper {
  display: inline-flex;
}
